.transactionHistory {
  outline: 2px solid rgb(214, 214, 214);
  margin: 10px auto;
  box-shadow: 0px 8px 1px rgba(56, 40, 27, 0.1);
  /* width: 700px; */
}

.transactionHistory__head {
  background-color: rgb(0, 217, 255);
  color: rgb(255, 238, 238);
  padding: 10px;
}

.transaction__column {
  display: block;
  margin-left: 80px;
  margin-right: 40px;
  padding: 5px 0px;
}

.transaction__amount,
.transaction__currency {
  display: block;
  text-align: center;
  margin: 0px 70px;
}

.transactionHistory__firstColor {
  background-color: rgb(201, 221, 247);
}

.transactionHistory__secondColor {
  background-color: rgb(236, 230, 255);
}
